.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  position:absolute;
  top:0;
  left: 0;
}
.blue{
  height: 100px;
  width: 100px;
  position:absolute;
  left: 100px;
  top:100px;
  background-color: blue;
}
.red{
  height: 100px;
  width: 100px;
  position:absolute;
  left: 200px;
  top: 200px;
  background-color: red;
}
